<main class='login-page'>
  <div class='login-page__container'>
    <h1 class='login-page__title'>Вход</h1>

    <form class='login-page__form'>
      <div data-id='loginInput'></div>
      <div data-id='passwordInput'></div>

      <div class='login-page__actions'>
        <div data-id='submitButton'></div>
      </div>

      <div data-id='registerLink'></div>
    </form>
  </div>
</main>