@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.input-wrapper {
  @include flex-column($spacing-xs);
  width: 100%;

  &__label {
    font-size: $font-size-base;
    color: $color-text-secondary;
  }

  &__input {
    @include input-reset;
    width: 100%;
    padding: $spacing-sm;
    border-bottom: 2px solid $color-border;
    font-size: $font-size-md;
    transition: border-color $transition-base;

    &::placeholder {
      color: color.scale($color-text-secondary, $lightness: 33%);
    }

    &:focus {
      border-bottom-color: $color-primary;
    }

    &--error {
      border-bottom-color: $color-error;
    }
  }

  &__error {
    font-size: $font-size-sm;
    color: $color-error;
  }
}
