<main class="register-page">
  <div class="register-page__container">
    <h1 class="register-page__title">Регистрация</h1>

    <form class="register-page__form">
      <div data-id="emailInput"></div>
      <div data-id="firstNameInput"></div>
      <div data-id="loginInput"></div>
      <div data-id="passwordInput"></div>
      <div data-id="phoneInput"></div>
      <div data-id="secondNameInput"></div>

      <div class="register-page__actions">
        <div data-id="submitButton"></div>
      </div>

      <div data-id="loginLink"></div>
    </form>
  </div>
</main>