<div class="user-item__avatar">
  <div data-id="avatarComponent"></div>
</div>
<div class="user-item__info">
  <div class="user-item__name">{{first_name}} {{second_name}}</div>
  <div class="user-item__login">@{{login}}</div>
  {{#if role}}
    <div class="user-item__role">{{role}}</div>
  {{/if}}
</div>