@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.button {
  @include button-reset;
  width: 100%;
  padding: $spacing-sm + 2px;
  border-radius: $border-radius-sm;
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  transition: background-color $transition-base;

  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: $color-primary-hover;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &--secondary {
    background-color: transparent;
    color: $color-primary;

    &:hover {
      background-color: color.scale($color-primary, $alpha: -95%);
    }
  }
}
