@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.chat-page {
  display: flex;
  height: 100vh;
  background-color: $color-background;

  &__sidebar {
    width: 310px;
    background-color: $color-white;
    border-right: 1px solid $color-border;
    display: flex;
    flex-direction: column;
  }

  &__sidebar-header {
    padding: $spacing-md $spacing-lg;
    border-bottom: 1px solid $color-border;
  }

  &__profile-link {
    color: $color-text-secondary;
    text-decoration: none;
    font-size: $font-size-sm;
    transition: color $transition-base;

    &:hover {
      color: $color-primary;
    }
  }

  &__search {
    padding: $spacing-md $spacing-lg;
  }

  &__search-input {
    @include input-reset;
    width: 100%;
    padding: $spacing-sm $spacing-md;
    background-color: #f4f4f5;
    border-radius: $border-radius-sm;
    font-size: $font-size-sm;

    &::placeholder {
      color: $color-text-secondary;
    }
  }

  &__chats {
    flex: 1;
    overflow-y: auto;
    padding: 0 $spacing-sm;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    position: relative;
  }

  &__messages {
    flex: 1;
    overflow-y: auto;
    padding: $spacing-lg;
    background-color: #fafafa;
  }

  &__date {
    text-align: center;
    color: $color-text-secondary;
    font-size: $font-size-sm;
    margin-bottom: $spacing-lg;
  }

  &__input-wrapper {
    flex-shrink: 0;
  }

  &__empty {
    @include flex-center;
    height: 100%;

    p {
      color: $color-text-secondary;
      font-size: $font-size-md;
    }
  }
}

.add-user-form {
  @include flex-column($spacing-lg);

  &__actions {
    margin-top: $spacing-sm;
  }
}
