<header class='chat-header'>
  <div class='chat-header__user'>
    <div class='chat-header__avatar'>
      <div data-id='avatar'></div>
    </div>
    <span class='chat-header__name'>{{name}}</span>
  </div>

  <button class='chat-header__menu' type='button'>
    <svg width='20' height='20' viewBox='0 0 20 20' fill='none'>
      <circle cx='10' cy='4' r='2' fill='#1E1E1E' />
      <circle cx='10' cy='10' r='2' fill='#1E1E1E' />
      <circle cx='10' cy='16' r='2' fill='#1E1E1E' />
    </svg>
  </button>
</header>