@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  &--open {
    display: flex;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    margin: auto;
    background-color: $color-white;
    border-radius: $border-radius-md;
    padding: $spacing-xl;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    text-align: center;
    color: $color-text-primary;
    margin-bottom: $spacing-lg;
  }

  &__body {
    @include flex-column($spacing-lg);
  }
}
