<div class="modal {{#if isOpen}}modal--open{{/if}}">
  <div class="modal__overlay"></div>
  <div class="modal__content">
    <h2 class="modal__title">{{title}}</h2>
    <div class="modal__body">
      <!-- Сюда будет вставлен content через data-id -->
      <div data-id="content"></div>
    </div>
  </div>
</div>
