<main class='error-page'>
  <div class='error-page__content'>
    <h1 class='error-page__code'>500</h1>
    <p class='error-page__message'>Мы уже фиксим</p>
    <div data-id='backLink'></div>
  </div>
</main>