<div class='avatar-upload'>
  <div class='avatar-upload__selector'>
    {{#if fileName}}
      <span class='avatar-upload__file-name'>{{fileName}}</span>
    {{else}}
      <a href='#' class='avatar-upload__link'>Выбрать файл на компьютере</a>
    {{/if}}
  </div>

  {{#if error}}
    <span class='avatar-upload__error'>{{error}}</span>
  {{/if}}

  <input type='file' class='avatar-upload__input' accept='image/*' />

  <div class='avatar-upload__actions'>
    <div data-id='submitButton'></div>
  </div>
</div>