@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.avatar-upload {
  @include flex-column($spacing-lg);

  &__selector {
    text-align: center;
    padding: $spacing-lg 0;
    min-height: 60px;

    @include flex-center;
  }

  &__link {
    color: $color-primary;
    text-decoration: none;
    font-size: $font-size-base;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__file-name {
    color: $color-text-secondary;
    font-size: $font-size-base;
  }

  &__error {
    color: $color-error;
    font-size: $font-size-sm;
    text-align: center;
  }

  &__input {
    display: none;
  }

  &__actions {
    margin-top: $spacing-sm;
  }
}
