@use '../../styles/variables' as *;

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #efefef;
  cursor: pointer;

  &--small {
    width: 34px;
    height: 34px;
  }

  &--medium {
    width: 47px;
    height: 47px;
  }

  &--large {
    width: 130px;
    height: 130px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__placeholder {
    width: 100%;
    height: 100%;
  }
}
