@use '../../styles/variables' as *;

.link {
  display: block;
  text-align: center;
  font-size: $font-size-base;
  text-decoration: none;
  transition: all $transition-base;
  cursor: pointer;
  padding: $spacing-sm 0;

  &--primary {
    color: $color-primary;

    &:hover {
      text-decoration: underline;
      color: $color-primary-hover;
    }
  }

  &--danger {
    color: $color-error;

    &:hover {
      text-decoration: underline;
      color: darken($color-error, 10%);
    }
  }
}
