<div class="message {{#if isMy}}message--my{{/if}}">
  <div class="message__content">
    {{#if image}}
      <img src="{{image}}" alt="" class="message__image">
    {{/if}}
    {{#if text}}
      <p class="message__text">{{text}}</p>
    {{/if}}
  </div>
  <span class="message__time">{{time}}</span>
</div>
