@use '../../styles/variables' as *;

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-lg;

  &--my {
    align-self: flex-end;
    align-items: flex-end;

    .message__content {
      background-color: #e3edff;
    }
  }

  &:not(&--my) {
    align-self: flex-start;
    align-items: flex-start;

    .message__content {
      background-color: #f8f8f8;
    }
  }

  &__content {
    border-radius: $border-radius-md;
    padding: $spacing-sm $spacing-md;
    word-wrap: break-word;
  }

  &__image {
    max-width: 100%;
    border-radius: $border-radius-sm;
    display: block;
  }

  &__text {
    font-size: $font-size-base;
    color: $color-text-primary;
    line-height: 1.5;
    margin: 0;
  }

  &__time {
    font-size: 11px;
    color: $color-text-secondary;
    margin-top: 4px;
  }
}
